<div class="content">
  {{#panel-container title="Current"}}
    Butts
  {{/panel-container}}
  {{#panel-container title="Backlog"}}
    Butts
  {{/panel-container}}
  {{#panel-container title="Icebox"}}
    Butts
  {{/panel-container}}
</div>
